{% extends 'base.html.twig' %}
{% block title %}Welcome to Events{% endblock %}

{% block body %}
<h3 class="text-center mt-5">Here you can find upcoming Events in Wien</h3>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2   g-4 m-5">
{% for event in events %}
    <div class="col">
      <div class="card w-75">
        <img src="{{ asset('image/' ~ event.image) }}" alt="" width="auto">
        <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.description}}</p>
            <div class="d-flex justify-content-center align-items-center justify-content-between m-1">
                <p class="card-text">Event Type : {{event.type}}</p>            
                <p class="card-text">Event Date : {{event.date | date()}}</p>
            </div>
            <div class="d-flex justify-content-evenly">
                <a href="details/{{event.id}}" class=" btn btn-dark">Details</a>
                <a href="edit/{{event.id}}" class=" btn btn-dark">Edit</a>
                <a href="delete/{{event.id}}" class=" btn btn-dark">Delete</a>
            </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
